@model IEnumerable<GamesViewModel>

@{
    ViewData["Title"] = "Queezes";
}

<a asp-controller="Game" asp-action="Create">Add game</a>

@if (Model.Any())
{
    foreach (var game in Model)
    {
        <div>@game.Id</div>
        <div>@game.Title</div>
        <div>@game.ThemeId</div>
        <div>@game.Date</div>
        <form method="delete" asp-controller="Game" asp-action="Delete" asp-route-id="@game.Id">
            <button type="submit">Delete</button>
        </form>
    }
    <br />
}
else
{
    <div>Empty games list</div>
}