@model IEnumerable<RoundsViewModel>

@{
    ViewData["Title"] = "Rounds";
}

<a asp-controller="Round" asp-action="Create">Add round</a>

@if (Model.Any())
{
    foreach (var round in Model)
    {
        <div>@round.Id</div>
        <div>@round.GameId</div>
        <div>@round.Title</div>
        <div>@round.Type</div>
        <form method="delete" asp-controller="Round" asp-action="Delete" asp-route-id="@round.Id">
            <button type="submit">Delete</button>
        </form>
    }
    <br />
}
else
{
    <div>Empty rounds list</div>
}